{% extends 'store/main.html' %} {% load static %} {% block content %}

<link
  href="https://api.cryptocloud.plus/static/pay_btn/css/app.css"
  rel="stylesheet" />
<link
  href="{% static 'fontawesomefree/css/fontawesome.css' %}"
  rel="stylesheet"
  type="text/css" />
<link
  href="{% static 'fontawesomefree/css/brands.css' %}"
  rel="stylesheet"
  type="text/css" />
<link
  href="{% static 'fontawesomefree/css/solid.css' %}"
  rel="stylesheet"
  type="text/css" />
<link
  href="{% static 'fontawesomefree/css/all.min.css' %}"
  rel="stylesheet"
  type="text/css" />

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="box-element" id="payment-info">
        <vue-widget
          shop_id="u19WoErZTeOStFYJ"
          api_key="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6NDEzMywiZXhwIjo4ODA3MzU0OTg4OH0.-v6XEKcyvHUB-2z37E_6iJnQGIiSZJxxH-DiZfCHylo"
          background="#fff"
          color="#000"
          border_color="#000"
          logo="color"
          width="350px"
          currency="USD"
          amount="{{order.get_cart_total|floatformat:2}}"
          text_btn="Pay by Crypto"
          order_id=""></vue-widget>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="box-element">
        <a class="btn btn-outline-dark" href="{% url 'cart' %}"
          >&#x2190; Back to Cart</a
        >
        <hr />
        <h3>Order Summary</h3>
        <hr />
        {% for item in items %}
        <div class="cart-row">
          <div style="flex: 2">
            <img class="row-image" src="{{item.product.imageURL}}" />
          </div>
          <div style="flex: 2"><p>{{item.product.name}}</p></div>
          <div style="flex: 1">
            <p>${{item.product.price|floatformat:2}}</p>
          </div>
          <div style="flex: 1"><p>x{{item.quantity}}</p></div>
        </div>
        {% endfor %}
        <h5>Items: {{order.get_cart_items}}</h5>
        <h5>Total: ${{order.get_cart_total|floatformat:2}}</h5>
      </div>
    </div>
  </div>
</div>

<script src="https://api.cryptocloud.plus/static/pay_btn/js/app.js"></script>

<script type="text/javascript">
  var shipping = "{{order.shipping}}";
  var total = "{{order.get_cart_total|floatformat:2}}";

  if (shipping == "False") {
    document.getElementById("shipping-info").innerHTML = "";
  }

  if (user != "AnonymousUser") {
    document.getElementById("user-info").innerHTML = "";
  }

  if (shipping == "False" && user != "AnonymousUser") {
    //Hide entire form if user is logged in and shipping is false
    document.getElementById("form-wrapper").classList.add("hidden");
    //Show payment if logged in user wants to buy an item that does not require shipping
    document.getElementById("payment-info").classList.remove("hidden");
  }

  var form = document.getElementById("form");
  form.addEventListener("submit", function (e) {
    e.preventDefault();
    console.log("Form Submitted...");
    document.getElementById("form-button").classList.add("hidden");
    document.getElementById("payment-info").classList.remove("hidden");
  });

  function submitFormData() {
    console.log("Payment button clicked");

    var userFormData = {
      name: null,
      email: null,
      total: total,
    };

    var shippingInfo = {
      address: null,
      city: null,
      state: null,
      zipcode: null,
    };

    if (shipping != "False") {
      shippingInfo.address = form.address.value;
      shippingInfo.city = form.city.value;
      shippingInfo.state = form.state.value;
      shippingInfo.zipcode = form.zipcode.value;
    }

    if (user == "AnonymousUser") {
      userFormData.name = form.name.value;
      userFormData.email = form.email.value;
    }

    console.log("Shipping Info:", shippingInfo);
    console.log("User Info:", userFormData);

    var url = "/process_order/";
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "applicaiton/json",
        "X-CSRFToken": csrftoken,
      },
      body: JSON.stringify({ form: userFormData, shipping: shippingInfo }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log("Success:", data);
        alert("Transaction completed");

        cart = {};
        document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";

        window.location.href = "{% url 'support' %}";
      });
  }
</script>
{% endblock content %}
