{% extends 'store/media-packages.html' %} {% load static %} {% block content %}
<script src="{% static 'js/script-settings.js' %}" defer></script>
<p class="title_packages" id="myteam">Settings</p>

<div class="buttons-settings" style="display: flex">
  <button class="settings area open">Personal data</button>
  <!-- <button class="settings photoset">Photo</button> -->
  <button class="settings linkset">Linking a wallet</button>
</div>

<div class="line"></div>

<div class="content-item open">
  <form method="POST">
    {% csrf_token %}
    <p class="settings_text">Basic information</p>
    {% if request.user.customer.registred %} {% else %}
    <div class="personalarea">
      <p class="for_input">referrer_code</p>
      <input
        type="text"
        name="referrer_code"
        value="{{ request.user.customer.referrer_code }}"
      />
    </div>
    {% endif %}

    <div class="personalarea">
      <p class="for_input">First name</p>
      <input
        type="text"
        name="first_name"
        value="{{ request.user.customer.first_name }}"
      />
    </div>

    <div class="personalarea">
      <p class="for_input">Last name</p>
      <input
        type="text"
        name="last_name"
        value="{{ request.user.customer.last_name }}"
      />
    </div>

    <p class="settings_text">Location</p>

    <div class="personalarea">
      <p class="for_input">Country</p>
      <input
        type="text"
        name="country"
        value="{{ request.user.customer.country }}"
      />
    </div>

    <div class="personalarea">
      <p class="for_input">Zipcode</p>
      <input
        type="text"
        name="zipcode"
        value="{{ request.user.customer.zipcode }}"
      />
    </div>
    <!-- Контактная информаци -->
    <p class="settings_text">Contact information</p>

    <!-- Email form -->
    <div class="personalarea">
      <p class="for_input">E-mail</p>
      <input
        type="email"
        name="email"
        value="{{ request.user.customer.email }}"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        required
      />
    </div>

    <div class="personalarea" style="display: none">
      <p class="error">*please enter a valid e-mail</p>
      <p class="for_input"></p>
    </div>
    <!-- Phone form -->
    <div class="personalarea">
      <p class="for_input">Phone</p>
      <input
        type="text"
        name="mobile"
        value="{{ request.user.customer.mobile }}"
      />
    </div>
    <div class="personalarea" style="display: none" id="phone-error">
      <p class="error">*please enter phone number</p>
      <p class="for_input"></p>
    </div>

    <div class="personalarea">
      <p class="for_input"></p>
      <button type="submit" class="save">Save</button>
    </div>
  </form>
</div>

<!-- 
  Блок с фото работает не корректно
  
  <div class="content-item photosettings">
  <div class="personalarea" style="padding-top: 20px">
    <img
      class="change_photo"
      src="{{ request.user.customer.image.url }}"
      alt=""
    />

    <div>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input
          type="file"
          name="image"
          style="display: none"
          id="file_input"
          accept="image/*"
        />
        <button
          class="upload"
          onclick="document.getElementById('file_input').click();return false;"
        >
          Upload a photo
        </button>
        <button type="submit" id="form.image" class="upload" style="margin-top: 30px">
          <b>Upload</b>
      </form>
    </div>
  </div>
</div> -->

<!-- Добавление кошелька -->
<div class="content-item wallet">
  <script>
    function validateForm() {
      var wallet = document.forms["myForm"]["wallet"].value;
      if (wallet == "") {
        document.getElementById("error").style.display = "block";
        return false;
      }
    }
  </script>

  <form name="myForm" onsubmit="return validateForm()" method="post">
    {% csrf_token %}
    <div class="personalarea" style="padding-top: 20px">
      <p class="for_input">
        Address <br />
        of Metamask wallet
      </p>
      <input
        type="text"
        name="wallet"
        value="{{ request.user.customer.wallet }}"
      />
    </div>
    <div class="personalarea" id="error" style="display: none">
      <p class="error">*please enter address</p>
      <p class="for_input"></p>
    </div>
    <div class="personalarea">
      <p class="for_input"></p>
      <button type="submit" class="save">Save</button>
    </div>
  </form>
</div>
<script>
  document.querySelector("form").addEventListener("submit", function (event) {
    var phoneInput = document.querySelector('input[name="mobile"]');
    var phoneError = document.querySelector("#phone-error");
    if (phoneInput.value === "") {
      event.preventDefault(); // Остановка отправки формы
      phoneError.style.display = "block"; // Отображение блока с ошибкой
    } else {
      phoneError.style.display = "none"; // Скрытие блока с ошибкой
    }
  });
</script>
<style>
  #phone-error {
    display: none;
  }
</style>

<script>
  const emailInput = document.querySelector('input[name="email"]');
  const emailErrorBlock = document.querySelector(".error");

  emailInput.addEventListener("invalid", function (event) {
    event.preventDefault();
    emailErrorBlock.style.display = "block";
  });

  emailInput.addEventListener("input", function (event) {
    emailErrorBlock.style.display = "none";
  });
</script>

{% endblock %}
