{% extends 'store/media-packages.html' %} {% load static %} {% block content %}
<script src="{% static 'js/script-settings.js' %}" defer></script>
<p class="title_packages" id="myteam">Settings</p>

<div class="buttons-settings" style="display: flex">
  <button class="settings area open">Personal data</button>
  <!-- <button class="settings photoset">Photo</button> -->
  <button class="settings linkset">Linking a wallet</button>
</div>

<div class="line"></div>

<div class="content-item open">
  <form method="POST" name="UpdateCustomerForm">
    {% csrf_token %}
    <p class="settings_text">Basic information</p>
    {% if request.user.customer.registred %} {% else %}
    <div class="personalarea">
      <p class="for_input">referrer_code</p>
      <input
        type="text"
        name="referrer_code"
        value="{{ request.user.customer.referrer_code }}"
      />
    </div>
    {% endif %}

    <div class="personalarea">
      <p class="for_input" title="Обязательное поле">First name*</p>
      <input
        type="text"
        name="first_name"
        value="{{ request.user.customer.first_name }}"
        title="Введите ваше имя"
      />
    </div>

    <div class="personalarea">
      <p class="for_input" title="Обязательное поле">Last name*</p>
      <input
        type="text"
        name="last_name"
        value="{{ request.user.customer.last_name }}"
        title="Введите вашу фамилию"
      />
    </div>

    <p class="settings_text">Location</p>

    <div class="personalarea">
      <p class="for_input" title="Обязательное поле">Country*</p>
      <input
        type="text"
        name="country"
        value="{{ request.user.customer.country }}"
        title="Страна проживания"
      />
    </div>

    <div class="personalarea">
      <p class="for_input">Zipcode</p>
      <input
        type="text"
        name="zipcode"
        value="{{ request.user.customer.zipcode }}"
        title="Почтовый индекс"
      />
    </div>
    <!-- Контактная информаци -->
    <p class="settings_text">Contact information</p>

    <!-- Email form -->
    <div class="personalarea">
      <p class="for_input" title="Обязательное поле">E-mail*</p>
      <input
        type="email"
        name="email"
        value="{{ request.user.customer.email }}"
        title="Электронная почта для связи"
        required
      />
    </div>

    <div class="personalarea" style="display: none">
      <p class="error">*please enter a valid e-mail</p>
      <p class="for_input"></p>
    </div>
    <!-- Phone form -->
    <div class="personalarea">
      <p class="for_input" title="Обязательное поле">Phone*</p>
      <input
        type="mobile"
        name="mobile"
        value="{{ request.user.customer.mobile }}"
        title="Мобильный телефон для связи"
      />
    </div>
    <div class="personalarea" style="display: none" id="phone-error">
      <p class="error">*please enter phone number</p>
      <p class="for_input"></p>
    </div>

    <div class="personalarea">
      <p class="for_input"></p>
      <button type="submit" name="UpdateCustomerForm" class="save">Save</button>
    </div>
  </form>

  {% if form.errors %} {% for field in form %} {% for error in field.errors %}
  <div class="alert alert-danger">{{ error }}</div>

  {% endfor %} {% endfor %} {% endif %}
</div>

<!-- 
  Блок с фото работает не корректно
  
  <div class="content-item photosettings">
  <div class="personalarea" style="padding-top: 20px">
    <img
      class="change_photo"
      src="{{ request.user.customer.image.url }}"
      alt=""
    />

    <div>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input
          type="file"
          name="image"
          style="display: none"
          id="file_input"
          accept="image/*"
        />
        <button
          class="upload"
          onclick="document.getElementById('file_input').click();return false;"
        >
          Upload a photo
        </button>
        <button type="submit" id="form.image" class="upload" style="margin-top: 30px">
          <b>Upload</b>
      </form>
    </div>
  </div>
</div> -->

<!-- Добавление кошелька -->
<div class="content-item wallet">
  <form method="POST" name="WalletForm">
    {% csrf_token %}
    <div class="personalarea" style="padding-top: 20px">
      <p class="for_input">
        Address <br />
        of Metamask wallet
      </p>
      <input
        type="text"
        name="wallet"
        value="{{ request.user.customer.wallet }}"
        title="Enter the address of your Metamask wallet"
      />
    </div>
    {% if form.errors %}
    <div
      class="personalarea alert alert-danger"
      id="error"
      style="display: none"
    >
      {% for error in form.wallet.errors %}
      <p class="error">*{{ error }}</p>
      {% endfor %}
      <p class="for_input"></p>
    </div>
    {% endif %}

    <div class="personalarea">
      <p class="for_input"></p>
      <button type="submit" name="WalletForm" class="save">Save</button>
    </div>
  </form>
</div>
<script>
  document.querySelector("form").addEventListener("submit", function (event) {
    var phoneInput = document.querySelector('input[name="mobile"]');
    var phoneError = document.querySelector("#phone-error");
    if (phoneInput.value === "") {
      event.preventDefault(); // Остановка отправки формы
      phoneError.style.display = "block"; // Отображение блока с ошибкой
    } else {
      phoneError.style.display = "none"; // Скрытие блока с ошибкой
    }
  });
</script>
<style>
  #phone-error {
    display: none;
  }
</style>

<script>
  const emailInput = document.querySelector('input[name="email"]');
  const emailErrorBlock = document.querySelector(".error");

  emailInput.addEventListener("invalid", function (event) {
    event.preventDefault();
    emailErrorBlock.style.display = "block";
  });

  emailInput.addEventListener("input", function (event) {
    emailErrorBlock.style.display = "none";
  });
</script>

<script>
  function validateForm() {
    var wallet = document.forms["myForm"]["wallet"].value;
    if (wallet == "") {
      document.getElementById("error").style.display = "block";
      return false;
    }
  }
</script>
{% endblock %}
