{% extends 'store/main.html' %} {% load static %} {% block content %}

<link
  href="https://api.cryptocloud.plus/static/pay_btn/css/app.css"
  rel="stylesheet"
/>
<link
  href="{% static 'fontawesomefree/css/fontawesome.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'fontawesomefree/css/brands.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'fontawesomefree/css/solid.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'fontawesomefree/css/all.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h4 class="title is-4">Заказ: {{product}}</h4>
      <p>
        Курс:
        <a
          href="https://coinmarketcap.com/dexscan/polygon/0x7537e2d95e19b8af5cc60190133114d545e240e7/"
          >На данный момент</a
        >
        {% if result %} {% if total %}
      </p>

      <p>
        Значение: <strong>{{ result }}.00</strong> USDT ~
        <strong>{{ total }}.00</strong> HRWT
      </p>
      {% endif %} {% endif %}
      <p>
        Адресс кошелька :
        <strong>0x04a5739471B210815c69f08F6358914dE194c843</strong>
      </p>
      <p>Сеть блокчейн : <strong>Polygon</strong></p>
      <img
        style="width: 250px; height: 250px"
        src="https://i.imgur.com/pIGNY4o.png"
      />
    </div>

    <div class="col-lg-6">
      <div class="box-element">
        <a class="btn btn-outline-dark" href="{% url 'tariffs' %}"
          >&#x2190; Назад к пакетам</a
        >
        <hr />
        <h3>Детали Заказа</h3>
        <hr />
        {% if product %}
        <h5>Items: x1 ({{product}})</h5>
        {% endif %}
        <h5>Total: {{result}}.00 USDT</h5>
        <hr />
        <h5>После отправки подтвердите оплату</h5>
        <form class="form-contact" method="post" action="">
          {% csrf_token %}
          <div class="form-group">
            <input
              name="email"
              placeholder="Укажите почту"
              type="text"
              style="width: 70%; text-align: center; border-radius: 3px"
              class="input"
            />
            <input
              name="massage"
              placeholder="Как можемк вам обращатся"
              type="text"
              style="
                width: 70%;
                margin-top: 5px;
                text-align: center;
                border-radius: 3px;
              "
              class="input"
            />
            <input
              name="name"
              placeholder="Укажите пакет который оплатили"
              type="text"
              style="
                width: 70%;
                margin-top: 5px;
                text-align: center;
                border-radius: 3px;
              "
              class="input"
            />
          </div>
          <button
            style="margin-top: -10px; width: 150px"
            class="btn btn-primary"
            type="submit"
          >
            Я оплатил
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
