{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <div class="container">
    <h3 style="margin-top:20px; text-align: center;">Внимание!</h3>
        <p>Мы приносим свои извинения за такой формат покупки пакета. Нам требуется пару дней чтобы исправить данную ситуацию. 
          Для покупки пакета запоните форму ниже после чего с вами свяжется наш менеджер и проконсультирует вас как приобрести пакет и как получить токены на ваш кошелёк. 

        </p>
    <div class="right-review">
        <h4 class="text-top" style="text-align: center;"><b>Форма для покупки пакета:</b><h4>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
          <button style="margin-left: 150px; margin-top: -10px; width: 150px;" class="btn btn-primary" type="submit">Отправить</button>
        </form>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      </div>
{% endblock content %}