{% extends 'store/media-packages.html' %} {% load static %} {% block content %}
<script src="{% static 'js/script-packages.js' %}" defer></script>

<div>
  <button class="but subj" type="button" style="margin-bottom: 0px; margin-top: 0; margin-left: 30px">
    <p class="subject">  </p>
    <img class="row" src="{% static 'media/row.svg' %}" alt="" />
  </button>

  <ul class="dropdown-list3" style="margin-bottom: 50px; margin-top: 20; margin-left: 30px">
    {% for category in categories %}
      <li class="dropdown-list-item" data-value="{{ category }}" style="margin: 10px">
        <a href="javascript:void(0);" onclick="selectCategory('{{ category }}')">{{ category }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="packages" style="display: flex; justify-content: space-between; padding-left: 30px; padding-right: 30px; padding-top: 30px;">
  {% for package in packages %}
    <div class="package_main" data-category="{{ package.category }}">
      <p class="time_package_main">{{ package.header }}</p>
      <div class="line_package_main"></div>
      <p class="price_package_main">${{ package.price_usd }} <br> {{ package.price_twt }} HRWT</p>
      <p class="describe_package_main"> "{{ package.category }}"</p>
      <p class="describe_package_main">{{ package.short_desc }}</p>
      <button class="signin_packages_main" onclick="redirectToPayment({{ package.id }})">
        <p>Выбрать</p>
      </button>
    </div>
  {% endfor %}
</div>


</div>
<script>
  function redirectToPayment(package) {
    // Получаем текущий URL и заменяем часть после последнего слэша на 'packet_buy'
    const paymentUrl = window.location.href.replace(/\/[^\/]*$/, '/packet_buy');
    // Кодируем объект пакета в JSON и добавляем его в URL в качестве параметра 'package'
    const packageData = encodeURIComponent(JSON.stringify(package));
    const paymentUrlWithPackage = `${paymentUrl}?package=${packageData}`;
    // Переходим на страницу оплаты с передачей параметра
    window.location.href = paymentUrlWithPackage;
  }
</script>

<script>
// Функция для отображения пакетов по выбранной категории
function showPackagesByCategory(category) {
  const allPackages = document.querySelectorAll(".package_main");
  allPackages.forEach(package => {
    if (category === "all" || package.dataset.category === category) {
      package.style.display = "flex";
    } else {
      package.style.display = "none";
    }
  });
}

// Отслеживаем изменения в выбранной категории
function selectCategory(category) {
  showPackagesByCategory(category);
}

// Изначально отображаем все пакеты
showPackagesByCategory("all");
</script>

{% endblock content %}
