{% extends 'store/main.html' %} {% load static %} {% block content %}

<link
  href="https://api.cryptocloud.plus/static/pay_btn/css/app.css"
  rel="stylesheet"
/>
<link
  href="{% static 'fontawesomefree/css/fontawesome.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'fontawesomefree/css/brands.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'fontawesomefree/css/solid.css' %}"
  rel="stylesheet"
  type="text/css"
/>
<link
  href="{% static 'fontawesomefree/css/all.min.css' %}"
  rel="stylesheet"
  type="text/css"
/>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h4 class="title is-4">Заказ: {{product}}</h4>
      <p>
        Курс:
        <a
          href="https://coinmarketcap.com/dexscan/polygon/0x7537e2d95e19b8af5cc60190133114d545e240e7/"
          >На данный момент</a
        >
        {% if result %} {% if total %}
      </p>

      <p>
        Значение: <strong>{{ result }}.00</strong> USDT ~
        <strong>{{ total }}.00</strong> HRWT
      </p>
      {% endif %} {% endif %}
      <p>
        Адресс кошелька :
        <strong>0x04a5739471B210815c69f08F6358914dE194c843</strong>
      </p>
      <p>Сеть блокчейн : <strong>Polygon</strong></p>
      <img
        style="width: 250px; height: 250px"
        src="https://i.imgur.com/pIGNY4o.png"
      />
    </div>

    <div class="col-lg-6">
      <div class="box-element">
        <a class="btn btn-outline-dark" href="{% url 'tariffs' %}"
          >&#x2190; Назад к пакетам</a
        >
        <hr />
        <h3>Детали Заказа</h3>
        <hr />
        {% if product %}
        <h5>Items: x1 ({{product}})</h5>
        {% endif %}
        <h5>Total: {{result}}.00 USDT</h5>
        <hr />
        {% if request.GET.value == "250" %}
        <h5>Материал курса:</h5>
        <h6>4 раздела • 14 лекций • Общая продолжительность 3 ч 2 мин</h6>
        <h5>Описание</h5>
        <h6>На этом курсе мы научим вас P2P Арбитражу, арбитражу в криптовалюте. В двух словах Р2Р - это рынок, где есть продавцы и есть покупатели. Первое время после обучения уверенно можно зарабатывать как два-три процента от суммы стартового капитала.</h6>
        <hr/>
        {% endif %}
        <h5>После отправки подтвердите оплату</h5>
        <form class="form-contact" method="post" action="{% url 'packet_buy' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email</label>
            <input type="email" class="form-control" id="{{ form.email.id_for_label }}" placeholder="Введите ваш email" name="{{ form.email.name }}" required>
          </div>
          <div class="form-group">
            <label for="{{ form.message.id_for_label }}">Сообщение</label>
            <textarea class="form-control" id="{{ form.message.id_for_label }}" placeholder="Введите количество токенов которые хотели бы приобрести, и как мы сможем с вами связаться помимо почты" name="{{ form.message.name }}" rows="5" required></textarea>
          </div>
          <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Имя</label>
            <input type="text" class="form-control" id="{{ form.name.id_for_label }}" placeholder="Введите ваше имя" name="{{ form.name.name }}" required>
          </div>
          <button style="width: 150px;" class="btn btn-primary" type="submit">Я оплатил</button>
        </form>
        
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock content %}
