#slider {
  display: flex;
  justify-content: center;
}

.controller {
  display: flex;
  justify-content: space-between;
}

#controls i {
  color: #000;
  font-size: 1rem;
}

.previous,
.next {
  padding: 2px;
  width: 30px;
  cursor: pointer;
  border-radius: 70%;
  outline: none;
  transition: 0, 7s ease-in-out;
  border: 3px solid black;
  background-color: #eaeded;
  box-shadow: 0 0 5px #000;
}

.previous:hover,
.next:hover {
  border: 3px solid gray;
}
@media (max-width: 1600px) {
  .container {
    width: 100%;
  }
}
